body {
  margin: 20% auto;
  width: 50%;
  height: 75%;
  border: black;
  background-color: lightyellow;
}

button{
  color:red;
  background-color: black;
}
.calculator { 
border: solid;
background-color: lightgray;
 }